:root {
    --black: black;
    --white: white;
    --darkRed: rgb(116,23,23);
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

ol {
    list-style: none;
    font-size: 20px;
}

.scores {
    margin: auto;
    width: auto;
    padding: 2%;
    background-color: var(--darkRed);
}

.scores a {
    color: var(--white);
}

.timer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    margin: auto;
    width: auto;
    text-transform: uppercase;
    padding-top: 2%;
    font-size: x-large;
}

h1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 25px;
    padding: 15px;
    border-style: dashed;
    border-color: var(--darkRed);
}

p {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: var(--black);
}

#start {
    color: var(--white);
    background-color: var(--darkRed);
    margin: 10px;
    padding: 5px;
    font-size: 20px;
}

.choices {
list-style: none;
display: block;
justify-content: center;
}

.hidden {
    display: none;
}

.choices button {
    width: 250px;
    height: 50px;
    display: inline-block;
    padding: 5px;
    margin: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    word-wrap: break-word;
    vertical-align: top;
    background-color: var(--darkRed);
    color: var(--white);
 }

 #submit {
    color: var(--white);
    background-color: var(--darkRed);
    margin: 10px;
    padding: 5px;
    font-size: 20px;
}

#back {
    color: var(--white);
    background-color: var(--darkRed);
    margin: auto;
    padding: 5px;
    font-size: 16px;
}
#clear {
    color: var(--white);
    background-color: var(--darkRed);
    margin: auto;
    padding: 5px;
    font-size: 16px;
}

footer {
    position: absolute;
    bottom: 0;
    padding-left: 39%;
    padding-bottom: 2%;
    color: var(--darkRed);
}
