:root {
    --black: black;
    --white: white;
    --darkRed: rgb(116,23,23);
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

a {
    color: var(--darkRed);
}

body h1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 25px;
    padding: 15px;
    border-style: dashed;
    border-color: var(--darkRed);
}

p {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: var(--black);
}

.timer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
}
.start-btn {
    color: var(--black);
    background-color: var(--darkRed);
}