h1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

p {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.timer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
}
.start {
    text-align: center;
}